.addnewcolumn_container{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 500px;
    background-color: #2b2c37;
    padding: 2em;
}
.cash{
    display: flex;
 
    flex-direction: column;
}
.column_name{
    width: 100%;
}