.checkBox{
    display: flex;
    align-items: center;
    padding: .75em;
     border-radius: 8px;
     width: 100%;
     margin-bottom: .5em;
    font-size: .85em;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    text-decoration: line-through;
    text-decoration-color: transparent;
    transition: all .2s ease;
     margin-bottom: .5em;
     &:hover{
      opacity: .7;
      }

    &--true{
      background-color: white;
      color:white;
    }
    &.dark{
      background-color: #20212C;
      background-color: #fff;

    }
  
 
  & > input[type="checkbox"] {
    cursor: pointer;
    appearance: none;
    display: inline-block;
    &.dark{
      background-color: #2B2C37;
    }
    &.light{
      background-color: #fff;
    }
    margin-right: .70em;
    min-width: 1rem;
    height: 1rem;
    border: 1px solid rgba(130,143,163,0.4);
    border-radius: 2px;
    transition: background-color .2s ease-in-out  border .2s ease-in-out;
    position: relative;

 
    &:checked {
      border: 0;
      background-color: #635fc7;   
     
     }
     &:checked + p{
      text-decoration: line-through;    
     }
    

  }
  > input[type="checkBox"]::before {
    left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
   
    &:checked{
      
     }
  }
}
 .checkbox_subtitle{
    margin-top: .85em;
    color: white;
  }
 