

   .addnewboard_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 450px;
    color: white;
    padding: 2em;
    border-radius: 5px;
    &.dark{
      background-color: #2b2c37;
     
    }
    &.light{
      background-color: #ffffff;
      h2{
        color: #000;
      }
      label{
        color: #97a3b2;
      }
    }
    h2{
        margin-bottom: .5em;
    }

   }
   .board_boxwrapper{
    display: flex;
    flex-direction: column;
    label{
        font-size: 14px;
        font-weight: 700;
    }
  
    input{
        width: 100%;
        background-color: transparent;
        margin-bottom: 1em;
        border: 2px solid rgba(130,143,163,.4);
        color: #fff;
        padding: .5em 1em;
      margin-bottom: .5em;
     }
     input:focus{
       border: 1px solid transparent;
       outline: 2px solid rgb(94,92,170);
    
     }
   }
      .addnewcolumnprop{
        display: flex;
        column-gap: .5em;
        width: 100%;
        margin-bottom: 1em;
    }
 
   .addnewcolumnbtn{
    margin-bottom: .5em;
    border-radius: 20px;
    color:  #625fc7;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em 1em;
    cursor: pointer;
    border-color: transparent;
    margin-bottom: 1em;
   }
   .createnewboardbtn{
    margin-bottom: .5em;
    border-radius: 20px;
    background-color:  #625fc7;
    color: white;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em 1em;
    cursor: pointer;
    border-color: transparent; 
    margin-bottom: 1em;
}
    .addnewcolumnbtn:hover{
        background-color: rgba(255, 255, 255, .8);
    }
