.viewtask{
    background-color: #2b2c37;
     width: 100%;
     padding: 1rem;
    //  &.dark{
    //     background-color: #2b2c37;

    //     p:not(.description){
    //         color: white;
    //     }
    //     label{
    //         background-color: #20212C;
    //     }


    //  }
    //  &.light{

    //     background-color: #fff;

    //     p:not(.description){
    //         color: #828fa3;
    //     }
    //     h2{
    //         color: #000;
    //     }
    //     label{
    //       background-color: #F4F7FD;
         
    //     }
        
      
    //  }
    .description{
        color: #828fa3;   font-size: .75;
        font-weight: 400;
        line-height: 1.3;
        margin-bottom: 1em;
     }
}
.viewtask_title{
    font-size: .85em;
    font-weight: 700;
    margin-bottom: 1em;
}

.viewtask_topwrapper{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2{
        font-size: 1em;
        font-weight: 700;
    }
    margin-bottom: 1em;
}
.edittask_btn{
    background-color: transparent;
    border: none;
    position: relative;
    cursor: pointer;
}
.viewtask_subtask{
    display: flex;
    flex-direction: column;

    span{
        display: flex;
         align-items: center;
     }
}
.viewtask_current_status{
    display: flex;
    flex-direction: column;
   .viewtask_p{
    font-size: .85em;
    font-weight: 700;
    margin-top: 1em;
    margin-bottom: 1em;
    }
  
}