.board{
    width: 80vw;
    color: white;
    display: grid;
    grid-auto-flow: column;
    height: calc(100vh - 6rem);
    padding: 1.5rem 2rem;  
    padding-right: 0;  
    box-sizing: border-box; 
    overflow-y: scroll;
    overflow-x: scroll;
    margin-bottom: 1em;
    -webkit-overflow-scrolling: touch;
    &.dark{
        background-color: #20212c;
        p{
            color: #fff;
        }
        h2{
            color: #f4f7fc;
        }

    }
    &.light{
        background-color: white;
        p{
            color: black;
        }
        h2{
            color: black;
        }

    }
   }
 
.column{
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    width: 20rem;
    height: 100%; 
    
}
.column_title_div{
    display: flex;
    align-items: center;
    column-gap: 8px;
    height: 20px;
    margin-bottom: 1em;
}
.ballcolor{
    height: 80%;
    width: 15px;
    border-radius: 50%;
   display: flex;
   align-items: center;
}
.ball0{
    background-color: #49c4e5;
}
.ball1{
    background-color: #625fc7;
}
.ball2{
    background-color: #67e2ae;
}
.ball3{
    background-color: #5C5D8D;
}
.ball4{
    background-color: #79C5C2;
}
.ball5{
    background-color: #C7C2D6;
}
.colum_add_button{
    width: 20rem;
     display: flex;
    align-items: center;
    justify-content: center;
     background: linear-gradient(to bottom,rgba(121,132,147,.2),rgba(130,143,163,.1),rgba(130,143,163,0));
    margin-top: 1em;
    font-size: 1.5em;
    color: #828fa3;
    padding: .5em;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 700;
}
.props_title{
    font-size: 16px;
    font-weight: 700;
    color: #828fa3;
    display: flex;
    align-items: center;
    height: 100%;
  
}
.task_title{
    margin-bottom: .5rem;
    font-weight: 700;
}
.card{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    padding: 1.5rem 1rem;
    color: white;
    // height: 100px;
    box-shadow:  rgba(54,78,126,.1) 0px 4px 6px 0px;
    box-sizing: border-box;
    width: 300px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid rgba(134,134,134,.1);
    cursor: grab; 
    &.dark{
        background-color: #2b2c37; 
        span{
            color: white;
        }

    }
    &.light{
        background-color: white;
        span{
            color: black;
        }
    }
   
 }
 