$board_base_color : #20212c;
$button_base_color : #625fc7;

$font_size : 1em;
$button_font_size : .8em;
$button_font_weight:700;

@mixin flexcenter(){
    display: flex;
    align-items: center;
    justify-content: center;
     
}
textarea{
    resize: none;
}
.board {
 }